<div class="w-full bg-primary flex justify-center h-[500px] items-center">
  <div class="w-[450px] h-[450px]">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let data of imageData">
        <ng-template carouselSlide [id]="data.id">
          <img [src]="data?.img" class="object-contain" [alt]="data?.img" />
          <!-- <div class="w-[450px] flex">
          </div> -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<router-outlet></router-outlet>
