@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "assets/scss/_variables.scss";

.hero-header {
  border: none;
  padding: 5rem 0 0 0;
  background: url("assets/img/bg-circle.png") left 0 top 0 no-repeat,
    url("assets/img/bg-triangle.png") right 0 top 50% no-repeat,
    url("assets/img/bg-bottom.png") center bottom -2px no-repeat,
    linear-gradient(to bottom right, $primary, $secondary);
  z-index: 1;
  background-size: auto, auto, 100%, 100%;
  height: 700px;
}
